<h1>Editing Chord</h1>

<%= render 'form' %>

<div class="text-center">
  <%= link_to 'Back', chords_path, class: "btn btn-default" %> |
  <%= link_to 'Show', @chord, class: "btn btn-info" %>
</div>

