<p id="notice"><%= notice %></p>

<div class="well">
    <p>
    <strong>Name:</strong>
    <%= @chord.name %>
  </p>

  </div>

<div class="text-center">
  <%= link_to 'Back', chords_path, class: 'btn btn-default' %> |
  <%= link_to 'Edit', edit_chord_path(@chord), class: 'btn btn-primary' %>
</div>
