<h1>Show Chord</h1>
<p id="notice"><%= notice %></p>

<%= render "form", only_show: true %>

<div class="text-center">
  <%= link_to 'Back', chords_path, class: 'btn btn-default' %> |
  <%= link_to 'Edit', edit_chord_path(@chord), class: 'btn btn-primary' %>
</div>
