<h1>Editing Composer</h1>

<%= render 'form' %>

<div class="text-center">
  <%= link_to 'Back', composers_path , class: "btn btn-default"%> |
  <%= link_to 'Show', @composer, class: "btn btn-success" %>
</div>

