/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require select2
 * require select2-bootstrap
 * require_tree .
 *= require_self
 * require bootstrap-material-design
 *= require material/bootstrap-material-design
 */

$offcanvas-media: 2000px;
$offcanvas-animation-time: 0s;

@import "bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: image-url("bootstrap/glyphicons-halflings-regular.eot");
  src: image-url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
       image-url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
       image-url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
       image-url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

html, body, .container-fluid {
  height: 100%;
}

$navbar-size: 60px;

body {
  padding-top: $navbar-size;
}

@media screen and (max-width: 1200px) {
  body {
    padding-top: 52px;
  }
}

.navbar-header { 
  text-align: center;
}

.navbar-brand {
  display: inline-block;
}

.navbar-toggle {
  color: #FFF;
}

.row-offcanvas-left
.sidebar-offcanvas {
  display: none;
}

.row-offcanvas-left.active {
  display: block;
}

.sidebar-offcanvas {
  height: 100% !important;
  margin-left: -30px;
  display: none;
}

.row-offcanvas-left
.sidebar-offcanvas
.offCanvasTrick {
  display: none;
}

.row-offcanvas-left.active .offCanvasTrick {
  display: block;
  height: 100%;
  position: inherit;
  top: 0;
  left: 100%;
}

.row-offcanvas-left #sidebar {
  text-align: right;
}

#sidebar a.list-group-item {
  color: #9D9D9D;
  background-color: transparent;
  border-color: #333;
}

#sidebar div.nav-container {
  background-color: #222;
  height: 100%;
}

#sidebar a.list-group-item.active,
#sidebar a.list-group-item:hover,
#sidebar a.list-group-item:focus {
  color: #FFF;
}

#sidebar a.list-group-item.active{
  background-color: #080808;
}

#sidebar h4 {
  margin: 0px;
  padding: 10px;
  color: #9D9D9D;
}

.navbar-toggle-always {
  display: block;
}

div.radio_buttons {
  label.radio_buttons {
    padding-left: 0;
  }
  span.radio {
    display: inline-block;
    label {
      padding-right: 10px;
    }
  }
}

.form-actions {
  text-align: center;
}

.table > tbody > tr > th, td {
  vertical-align: middle !important;
}